<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Historial
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="enviarCorreo()" color="primary">
        <ion-icon name="send" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item
      *ngFor="let registro of dataLocal.guardados"
      (click)="abrirRegistro(registro)"
      detail
    >
      <ion-icon [name]="registro.icon" slot="start" color="primary"></ion-icon>
      <ion-label>
        <h2>{{registro.text}}</h2>
        <p>{{registro.created | date:'medium'}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
