<ion-content [fullscreen]="true">
  <ion-slides [options]="slidesOpts">
    <ion-slide>
      <ion-button
        expand="full"
        fill="outline"
        (click)="scan()"
        shape="round"
        size="large"
        >ScanCode</ion-button
      >
    </ion-slide>
  </ion-slides>
</ion-content>
